<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span [routerLink]="['/']">My First App</span>
    <span class="example-fill-remaining-space"></span>
    <span class="align-center"></span>
    <span class="example-spacer"></span>
    <!-- <button mat-button [routerLink]="['/']">Home</button> -->
    <a mat-button [routerLink]="['/login']" *ngIf="!_authService.loggedIn()">
      <mat-icon>person</mat-icon>
    </a>
    <a mat-button [routerLink]="['/login']" *ngIf="_authService.loggedIn()" (click)="logOut()">
      <mat-icon>power_settings_new</mat-icon>
    </a>
    <a mat-button [routerLink]="['/dashboard']">
      <mat-icon>dashboard</mat-icon>
    </a>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon matBadge="{{cartProducts.length > 0 ? cartProducts.length : '0'}}" matBadgeColor="warn">shopping_cart
      </mat-icon>
    </button>
    <mat-menu #menu="matMenu" class="cart-detail">
      <mat-list *ngIf="cartProducts.length > 0">
        <div *ngFor="let cartProduct of cartProducts">
          <mat-list-item>
            <div color="primary">{{cartProduct.name}}</div>
            <div fxLayout="row" fxLayoutAlign="space-between center" class="mt-6">
              <span>{{cartProduct.qty}} x {{cartProduct.price}}</span>
              <span>{{cartProduct.qty * cartProduct.price}}</span>
            </div>
          </mat-list-item>
          <mat-divider></mat-divider>
        </div>
        <mat-list-item>
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <span style="margin-right: 30px;">SUB TOTAL</span>
            <span>{{getSubtotal()}}</span>
          </div>
        </mat-list-item>
        <button mat-raised-button color="primary" class="proceed-btn" [routerLink]="['/cart']">Proceed</button>
      </mat-list>
      <p *ngIf="cartProducts.length == 0" style="padding: 15px">Your cart is empty</p>
    </mat-menu>
    <!--
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <span>Redial</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>voicemail</mat-icon>
        <span>Check voicemail</span>
      </button>
      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Disable alerts</span>
      </button>
    </mat-menu>
    -->
  </mat-toolbar-row>
</mat-toolbar>

<mat-card class="example-card">
  <router-outlet></router-outlet>
</mat-card>
